.video-react-video{
    height: 90vh;
    width: 100%;
    padding-top: 0% !important;
}

.video-react-controls-enabled .video-react-paused .video-react-fluid .video-react-user-inactive .video-react-workinghover .video-react{
    padding-top: 0% !important;
    display: none;
}
.{
    padding-top: 0% !important;
}

*{
    padding-top: 0% !important;
}


button{
    display: none;
}